@charset "UTF-8";

.rating-score > .rating-score-item {
  display: inline-block;
}

.rating-score > .rating-score-item:after {
  font-family: "FontAwesome";
  font-size: 1.5em;
  color: #FFC600;
}


 .rating-score[data-rating="4.5"] > .rating-score-item:nth-child(-n+4):after, 
 .rating-score[data-rating="3.5"] > .rating-score-item:nth-child(-n+3):after,
  .rating-score[data-rating="2.5"] > .rating-score-item:nth-child(-n+2):after, 
  .rating-score[data-rating="1.5"] > .rating-score-item:nth-child(-n+1):after,
   .rating-score[data-rating="0.5"] > .rating-score-item:nth-child(-n+0):after, 
   .rating-score[data-rating="5"] > .rating-score-item:nth-child(-n+5):after, 
   .rating-score[data-rating="4"] > .rating-score-item:nth-child(-n+4):after, 
   .rating-score[data-rating="3"] > .rating-score-item:nth-child(-n+3):after, 
   .rating-score[data-rating="2"] > .rating-score-item:nth-child(-n+2):after, 
   .rating-score[data-rating="1"] > .rating-score-item:nth-child(-n+1):after {
  content: "";
} 



.rating-score[data-rating="4.5"] > .rating-score-item:nth-child(5):after, .rating-score[data-rating="3.5"] > .rating-score-item:nth-child(4):after, .rating-score[data-rating="2.5"] > .rating-score-item:nth-child(3):after, .rating-score[data-rating="1.5"] > .rating-score-item:nth-child(2):after, .rating-score[data-rating="0.5"] > .rating-score-item:nth-child(1):after {
  content: "";
}

.rating-score > .rating-score-item:after {
  content: "";
}

.rating-score {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}
