*, ::before, ::after {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: rgb(34, 34, 34);
    width: 100%;
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
}

/* Breadcrumb*/
.breadcrumb {
    background: rgb(245, 245, 245);
    padding: 10px 2rem;
}

.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem 0px;
    padding: 0px;
    color: rgb(51, 51, 51);
    list-style: none;
}

.breadcrumb li a {
    text-decoration: underline;
    border-bottom: none;
    color: rgb(51, 51, 51);
    font-weight: normal;
    font-size: 15px;
}

.breadcrumb li:not(:last-child)::after {
    content: "";
    display: inline-block;
    position: relative;
    box-sizing: unset;
    width: 0.375rem;
    height: 0.375rem;
    margin: 0px 0.75rem;
    transform: rotate(45deg);
    border-width: 1px 1px 0px 0px;
    border-style: solid;
}

/* Product */
.product .container {
    max-width: 1280px;
    margin: 0px auto;
    padding: 1rem 1.5rem 0px;
    background-color: white;
}

.product .container img {
    max-width: 100%;
    width: 200px;
}

.product__inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.product__inner-left, .product__inner-right {
    width: 50%;
}

.product__inner-left {
    justify-content: flex-end;
    padding-right: 160px;
    padding-top: 20px;
    padding-bottom: 60px;
}

.product__inner-left .rack-it {
    text-align: center;
}

.product__inner-left .rack-it a {
    border-bottom: none;
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-decoration: none;
}

.product__inner-left .rack-it a img {
    width: 100px;
    height: 38px;
    object-fit: cover;
}

.product__img-feature {
    display: flex;
    justify-content: flex-end;
}

.product .product__img-feature  img {
    width: 300px;
}

.product__img-thumb {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 20px;
}

.product .product__img-thumb img {
    width: 64px;
    height: 64px;    
    object-fit: cover;
}

.product__inner-right {
    background-color: #EBEFEF;
    padding: 20px;
}

.product__info .product-brand-name a {
    font-size: 0.875rem;
    line-height: 1.42857;
    color: rgb(13, 82, 87);
    display: inline-block;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

.product__info .product-title {
    color: rgb(13, 82, 87);
    font-size: 1.625rem;
    margin-top: 0px;
    padding-bottom: 0.5rem;
    font-weight: 600;
}

.wrap-rating {
    display: flex;
    align-items: center;
}

.wrap-rating__star {
    color: #ffb400;
    cursor: pointer;
    display: inline-flex;
    position: relative;
    font-size: 18px;
    -webkit-tap-highlight-color: transparent;
}

.wrap-rating__star svg{
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 18px;
    flex-shrink: 0;
    user-select: none;
}

.wrap-rating__text {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 30px;
}

.wrap-rating__info {
    font-size: 14px;
}

.option-heading {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.125rem;
    font-weight: 800;
    line-height: 1.5rem;
    padding: 30px 0 20px;
}

.option-value {
    display: flex;
    flex-flow: wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    line-height: 30px;
    min-height: 50px;
    column-gap: 20px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.option-value a {
    border-color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    border-radius: 0.125rem;
    border-style: solid;
    border-width: 0.0625rem;
    color: rgb(51, 51, 51);
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    max-width: 136px;
    min-height: 20px;
    min-width: 60px;
    outline: none;
    overflow-wrap: break-word;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    position: relative;
    text-decoration: none;
    white-space: normal;
}

/* Features */
.features {
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 50px 0;
    border-top: 1px solid rgb(191, 191, 191);
}

.features .container {
    display: flex;
    max-width: 1280px;
    margin: 0px auto;
    padding: 0px 1.5rem;
}

.features h2 {
    min-width: 400px;
    display: flex;
    position: relative;
    text-decoration: none;
    word-break: break-word;
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.27273;
    color: rgb(13, 82, 87);
}

.features h2::before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: -1.5rem;
    width: 8px;
    height: 32px;
    margin-right: 1rem;
    background-color: rgb(218, 41, 28);
}

.feature-content ul {
    margin-bottom: 30px;
}

.feature-content li{
    list-style-type: disc;
    margin-bottom: 10px;
    margin-left: 16px;
}

/* Details */
.details {
    display: flex;
    width: 100%;
    background-color: #F5F5F5;
    padding: 50px 0;
    border-top: 1px solid rgb(191, 191, 191);
}

.details .container {
    display: flex;
    width: 1280px;
    margin: 0px auto;
    padding: 0px 1.5rem;
}

.details h2 {
    min-width: 400px;
    display: flex;
    position: relative;
    text-decoration: none;
    word-break: break-word;
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.27273;
    color: rgb(13, 82, 87);
}

.details h2::before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: -1.5rem;
    width: 8px;
    height: 32px;
    margin-right: 1rem;
    background-color: rgb(218, 41, 28);
}

.details-content {
    width: 600px;
    max-width: 100%;
}

.details-content .dimensions {
    font-size: 18px;
    font-weight: 600;
}

.details-content .table-dimension {
    display: table;
}

table tr:nth-child(2n+1) {
    background-color: rgb(255, 255, 255);
}

table th {
    width: 25%;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    background-color: rgb(245, 245, 245);
}

table th, .table-dimension td {
    padding: 1.75rem 40px;
    text-align: center;
}

.table-dimension th {
    font-size: 15px;
    line-height: 1.5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(13, 82, 87);
    font-weight: bold;
}

.table-dimension tr:nth-child(2n) {
    background-color: rgb(235, 239, 239);
}

.table-dimension td:first-child {
    background-color: rgb(245, 245, 245);
}

table tr.product-dimension-row-last td {
    border-bottom: 2px solid rgb(61, 117, 121);
}


table .product-heading {
    padding-left: 0px;
    font-weight: bold;
    text-align: left;
}

table tr td:nth-child(2), table tr td:nth-child(3) {
    border-right: 1px solid rgb(191, 191, 191);
}

.weight {
    margin-top: 30px;
    margin-bottom: 10px;
}

.wrap-total-weight {
    padding: 16px;
    border-bottom: 4px solid rgb(13, 82, 87);
    background: rgb(235, 239, 239);
}

.easy-to-carry {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    display: block;
    color: rgb(13, 82, 87);
    font-weight: bold;
}

.total-weight {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
}

.total-weight span{
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
}

.specification-odd {
    background-color: rgb(235, 239, 239);
}

.specification-even {
    background-color: rgb(255, 255, 255);
    
}

.specification-odd, .specification-even {
    padding: 14px 18px;
}

.specification-first {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
}

.specification-second{
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
}

.wrap-odd-even {
    display: flex;
    width: 100%;
}

.wrap-odd-even .specification-even {
    width: 50%;
    border-right: 1px solid rgb(191, 191, 191);
}

.wrap-odd-even .specification-even:last-child {
    border: none;
}

/* Guides */
.guides {
    display: flex;
    width: 100%;
    background-color: #F5F5F5;
    padding: 50px 0;
}

.guides .container {
    display: flex;
    width: 1280px;
    margin: 0px auto;
    padding: 0px 1.5rem;
}

.guides h2 {
    min-width: 400px;
    display: flex;
    position: relative;
    text-decoration: none;
    word-break: break-word;
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.27273;
    color: rgb(13, 82, 87);
}

.guides h2::before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: -1.5rem;
    width: 8px;
    height: 32px;
    margin-right: 1rem;
    background-color: rgb(218, 41, 28);
}

.guides-content h3 {
    font-size: 18px;
    font-weight: 600;
}

.guides-content a {
    text-decoration: none;
}

.guides-content a {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    border: 1px solid rgb(191, 191, 191);
    background-color: rgb(245, 245, 245);
    color: rgb(51, 51, 51);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    padding: 12px 20px;    
}

.brochure {
    color: rgb(13, 82, 87);
    text-transform: capitalize;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.view-document {
    font-size: 16px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

/* Available */
.available-service {
    display: flex;
    width: 100%;
    background-color: #F5F5F5;
    padding: 50px 0;
}

.available-service .container {
    display: flex;
    width: 1280px;
    margin: 0px auto;
    padding: 0px 1.5rem;
}

.available-service h2 {
    min-width: 400px;
    display: flex;
    position: relative;
    text-decoration: none;
    word-break: break-word;
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.27273;
    color: rgb(13, 82, 87);
}

.available-service h2::before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: -1.5rem;
    width: 8px;
    height: 32px;
    margin-right: 1rem;
    background-color: rgb(218, 41, 28);
}

.available-content {
    display: flex;    
    column-gap: 30px;
}

.available-box  a {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.available-box a {
    width: 300px;
    height: 90px;
    border: 1px solid rgb(191, 191, 191);
    background-color: rgb(245, 245, 245);
    color: rgb(51, 51, 51);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    padding: 12px 20px;    
    text-decoration: none;
}

.available-box .available-box-first {
    color: rgb(13, 82, 87) !important;
    border-bottom: none;
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}

.available-box .available-box-second {
    color: rgb(51, 51, 51);
    font-size:12px;
    font-weight: bold;
    margin-top:2px;
}

/* Return */
.return {
    display: flex;
    width: 100%;
    background-color: #F5F5F5;
    padding: 50px 0;
}

.return .container {
    display: flex;
    width: 1280px;
    margin: 0px auto;
    padding: 0px 1.5rem;
}

.return h2 {
    min-width: 400px;
    display: flex;
    position: relative;
    text-decoration: none;
    word-break: break-word;
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.27273;
    color: rgb(13, 82, 87);
}

.return h2::before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: -1.5rem;
    width: 8px;
    height: 32px;
    margin-right: 1rem;
    background-color: rgb(218, 41, 28);
}

.return-content p {
    color: rgb(34, 34, 34);
    margin-bottom: 10px;
}

.return-content a {
    color: rgb(13, 82, 87);
    text-decoration: none;
    font-weight: bold;
}

/* Shop Online */
.shop-online {
    display: flex;
    width: 100%;
    background-color: #F5F5F5;
    padding: 50px 0;
}

.shop-online .container {
    display: flex;
    width: 1280px;
    margin: 0px auto;
    padding: 0px 1.5rem;
}

.shop-online h2 {
    min-width: 400px;
    display: flex;
    position: relative;
    text-decoration: none;
    word-break: break-word;
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.27273;
    color: rgb(13, 82, 87);
}

.shop-online h2::before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: -1.5rem;
    width: 8px;
    height: 32px;
    margin-right: 1rem;
    background-color: rgb(218, 41, 28);
}

.shop-online-content p {
    color: rgb(34, 34, 34);
    font-weight: 500;
}

.shop-online-content ul {
    margin-top: 20px;
}

.shop-online-content ul li {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
}

.shop-online-content li a {
    font-weight: bold;
    color: rgb(34, 34, 34);
}

/* Ratings Reviews */
.ratings-reviews {
    display: flex;
    width: 100%;
    background-color: #F5F5F5;
    padding: 50px 0 100px;
}

.ratings-reviews .container {
    display: flex;
    width: 1280px;
    margin: 0px auto;
    padding: 0px 1.5rem;
}

.ratings-reviews h2 {
    min-width: 400px;
    display: flex;
    position: relative;
    text-decoration: none;
    word-break: break-word;
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.27273;
    color: rgb(13, 82, 87);
}

.ratings-reviews h2::before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: -1.5rem;
    width: 8px;
    height: 32px;
    margin-right: 1rem;
    background-color: rgb(218, 41, 28);
}

.ratings-one {
    display: flex;
    border-bottom: 1px solid rgb(234, 234, 234);
    padding-bottom: 16px;
}

.rating-snapshot h3 {
    font-size: 16px;
    font-weight: 600;
}

.rating-snapshot p {
    width: 230px;
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    color: rgb(51, 51, 51);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.rating-snapshot .progress {
    display: flex;
    align-items: center;
    max-width: 260px;
}

.primary-rating {
    font-size: 15px;
    min-width: 46px;
}

.progress-bar {
    width: 100%;
    max-width: 140px;
    padding: 5px 10px;
}

.progress-bar-inner {
    width: 100%;
    border-radius: 10px;
    display: block;
    overflow: hidden;
    height: 16px;
    background-color: rgb(229, 229, 229);
    box-shadow: rgb(204, 204, 204) 0px 0px;
}

.progress-bar-bg {
    display: block;
    height: 16px;
    background-color: rgb(255, 171, 0);
    
}

.overall-rating h3 {
    font-size: 16px;
    font-weight: 600;
    min-width: 240px;
}

.review-this-product h3 {
    font-size: 16px;
    font-weight: 600;
}

.review-this-product p {
    color: rgb(0, 0, 0);
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    margin: 7px 0px 5px;
    padding: 0;
}

.average-customer-rating {
    text-align: center;
    border-bottom: 1px solid rgb(234, 234, 234);
    padding-bottom: 20px;
}

.average-customer-rating h3 {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
}

.wrap-average {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.wrap-average-rating {
    display: flex;
    align-items: center;
    min-width: 200px;
    margin-top: 10px;
    margin-left: 75px;
    column-gap: 12px;
}

.wrap-average-rating-inner {
    background-color: orange;    
    width: 100%;
    height: 16px;
    display: flex;
    position: relative;
    z-index: 1;
}

.wrap-average-rating-inner .presentation {
    width: 20%;
    position: relative;
    border: 1px solid rgb(222, 215, 215);
    border-radius: 0px;
}

.wrap-average-rating-inner .presentation.grey {
    background: rgb(229, 229, 229);
}

.double-garage {
    display: flex;
    margin-top: 20px;
    border-bottom: 1px solid rgb(234, 234, 234);
    padding-bottom: 10px;
}

.double-garage h3 {
    font-size: 16px;
    font-weight: 600;
}

.double-garage-first {
    min-width: 240px;
    max-width: 260px;
}

.double-garage-first h3 {
    margin-bottom: 10px;
}

.double-garage-first .check-circle {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.double-garage-first .check-circle i {
    font-size: 26px;
    color: #5ECDB5;
}

.double-garage-first .check-circle span {
    font-size: 11px;
    font-weight: normal;
}

.double-garage-first p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
}

.double-garage-first p span {
    font-weight: bold;
}

.double-garage-first p:last-child {
    max-width: 200px;
}

.double-garage-first p:last-child span {
    font-weight: bold;
}

.double-garage-second {
    min-width: 370px;
}

.double-garage-second p.small {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.double-garage-second p {
    max-width: 330px;
    margin-bottom: 14px;
}

.double-garage-second .recommend  {
    display: flex;
    align-items: center;
}

.double-garage-second .recommend i {
    padding-right: 8px;
}

.double-garage-second p.helpful span {
    margin: 0 5px;
}

.double-garage-third {
    margin-top: 20px;
}

.double-garage-third .wrap-average-rating {
    margin-left: 0;
    margin-bottom: 10px;
}


/* star */

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

/* General styles for the stars container */
.stars {
    display: inline-block;
    font-size: 24px; /* Adjust for desired size */
    line-height: 1;
    position: relative; /* For positioning the partial star */
  }
  
  /* Individual star styles */
[data-rating] {
    display: inline-block;
    position: relative;
    width: 1em;
    text-decoration: none; /* Remove any default underline */
    color: #f8e71c; /* Customize the star color */
  }
  
  /* Create the star icon using a pseudo-element */
[data-rating]:before {
    font-family: FontAwesome;
    content: "\f005"; /* Unicode for a filled-in star */
    position: absolute;
    left: 0;
    top: 0;
  }
  
  /* Style for empty stars */
[data-rating]:not([data-value]):before {
    content: "\f089"; /* Unicode for an empty star */
  }
  
  /* Style for the partially filled star */
  [data-rating][data-value="5"]:before {
    width: 50%; /* Fill only half of the star */
  }